
.idea/vcs.xml
.idea/vcs.xml
Testes.py
Ex107/__pycache__/Ex107.cpython-39.pyc
Ex107/__pycache__/moeda.cpython-39.pyc
Ex108/__pycache__/moeda.cpython-39.pyc
Ex109/__pycache__/moeda.cpython-39.pyc
Ex110/__pycache__/moeda.cpython-39.pyc
Ex111/__pycache__/Ex111.cpython-39.pyc
Ex111/utilidadecev/__init__.py
Ex111/utilidadecev/__pycache__/__init__.cpython-39.pyc
Ex111/utilidadecev/dados/__init__.py
Ex111/utilidadecev/__init__.py
Ex112/utilidadecev/moedas/__pycache__/__init__.cpython-39.pyc
Ex112/utilidadecev/dados/__pycache__/__init__.cpython-39.pyc
Ex112/utilidadecev/__init__.py
Ex112/utilidadecev/__pycache__/__init__.cpython-39.pyc
Ex112/utilidadecev/__init__.py
Ex111/utilidadecev/moedas/__pycache__/__init__.cpython-39.pyc
Ex111/utilidadecev/__init__.py
Ex111/utilidadecev/dados/__init__.py
Ex111/utilidadecev/dados/__init__.py
Ex111/utilidadecev/dados/__init__.py
Ex111/utilidadecev/__init__.py
Ex111/utilidadecev/dados/__init__.py
Ex112/utilidadecev/__init__.py
